body {
	background-color: #eaeaea;
	color: #303030;
}

body {
	padding-top: 70px;
}

.container {

}

#main {
	background: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	height: 90%;
}

.box:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
#footer {
	color: #707070;
}
#footer {
	background: url("design/separator.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	clear: both;
	font: 85%/1.2 "tahoma", sans-serif;
	padding: 15px;
}
.box {
	min-height: 1px;
}

.f-left {
	float: left !important;
}
.f-right {
	float: right !important;
}
.campo {
	width: 10.3333%;
}
.typeahead-devs, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px 8px 8px 8px;
	font-size: 24px;
	height: 45px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 400px;
}

.tt-dropdown-menu {
	width: 400px;
	margin-top: 5px;
	padding: 8px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px 8px 8px 8px;
	font-size: 18px;
	color: #111;
	background-color: #F1F1F1;
}

#ui-datepicker-div {
	font-size: 80%;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px;
}
.ui-timepicker-div dl dd {
	margin: -25px 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}


.ui-autocomplete {
    
    z-index: 10000;
}

.fondo {
    background: url("images/preLoader.gif") no-repeat scroll center center #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
}


/****quitar le borde punteado en firefox****/
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

