body {
    background-color: #eaeaea;
    color: #303030;    
}

body { padding-top: 70px; }



.container{

}

#main{
	background: #FFFFFF; 
	padding-left: 15px;
	padding-right: 15px;
	height: 90%;
}

.box:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
#footer {
    color: #707070;
}
#footer {
    background: url("design/separator.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    font: 85%/1.2 "tahoma",sans-serif;
    padding: 15px;
}
.box {
    min-height: 1px;
}

.f-left {
    float: left !important;
}
.f-right {
    float: right !important;
}
.campo {
    width: 10.3333%;
}